@model YourNamespace.DoctorViewModel

<h2>Doctor Details</h2>

<div>
    <h4>Doctor Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <!-- Add more fields as needed -->

    </dl>
</div>
<p>
    <a asp-controller="Doctors" asp-action="Edit" asp-route-id="@Model.DoctorId">Ed

